
.works{
    width: 100%;
    height: 80%;
    background-color: #101011;
}

.works{
    margin: 10px auto 0;
    flex-direction: column;
    display: flex;
}

.workCard{
    margin-bottom: 10px;
    max-width: 100%;
    padding: 0 15px;
}

.workCard > .card{
    height: 22ch;
    background-color: #16161A;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
}

.workCard > .card > h2{
    color: #fff;
    font-size: 22px;
    padding: 5px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.workCard > .card > h3{
    color: #777778;
    font-size: 16px;
    padding: 5px;
    font-family: "Raleway", sans-serif;
}

.workCard > .card > p{
    color: #777778;
    font-size: 14px;
    letter-spacing: .6px;
    padding: 5px;
    font-family: "Raleway", sans-serif;
}

.workCard > .card > ul{
    list-style-type: none;
    display: flex;
    padding: 5px 5px 10px;
    justify-self: flex-end;
    margin-top: auto;
}

.workCard > .card > ul > li{
    margin-top: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.workCard > .card > ul > li > a{
    color: #777778;
    margin-left: 5px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

.workCard > .card > ul > li > i{
    color: #777778;
    font-size: 13px;
    margin-top: 5px;
    align-self: center;
}

@media only screen and (max-width: 500px) {
    .works{
        margin: 10px 5px;
    }

    .workCard > .card{
    height: 22ch;
    background-color: #16161A;
    padding: 10px;
    }

.workCard > .card > ul{
    justify-self: flex-end;
    margin-top: auto;
    padding: 0 5px 5px;
}
}