.container{
    width: 100%;
    height: 90vh;
    background-color: #101011;
}

.contact{
    max-width: 100%;
    background-color: #101011;
    margin: 0 20px;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.input > label{
    font-size: 19px;
    margin-bottom: 10px;
    color: #d3d3d3;
    font-family: "Roboto", sans-serif;
}

.input > input{
    font-size: 16px;
    outline: none;
    padding: 10px;
    background: #16161a;
    border: 1px solid transparent;
    color: #d3d3d3;
    height: 50px;
}

.input > .submit{
    cursor: pointer;
}

.message{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.message > label{
    font-size: 19px;
    margin-bottom: 10px;
    color: #d3d3d3;
    font-family: Roboto, sans-serif;
}

.message > textarea{
    font-size: 16px;
    outline: none;
    padding: 10px;
    height: 200px;
    outline: none;
    background: #16161a;
    border: 1px solid transparent;
    color: #d3d3d3;
}



@media only screen and (max-height: 600px) {
    .input{
        margin: 5px 20px;
    }

    .message{
        margin: 20px;
    }
}


@media only screen and (max-width: 500px) {

    .contact{
        margin: 10px;
    }

    .input{
        margin: 20px;
    }

    .input > label{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .input > input{
        font-size: 14px;
    }

    .message{
        margin: 20px;
    }

    .message > label{
        font-size: 16px;
    }

    .message > textarea{
        font-size: 14px;
    }
}