
$font: 2.7rem;
$h2-font: 36px;
$h3-font: 22px;
$h4-font: 29px;
$project-font: 19px;
$semi-font: 16px;
$normal2-font: 15px;
$normal-font: 14px;
$small-font: 13px;
$xsmall-font: 12px;

$box-fontColor: #777778;
$body-background: #101011;